{% extends "layout.html" %}
{% block content %}
<h1>Реши пример!</h1>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ form.question.data }} = ?</legend>
            <div class="form-group">
                {{ form.answer.label(class="form-control-label") }}
                {% if form.answer.errors %}
                    {{ form.answer(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.answer.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.answer(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <span class="badge badge-success">Правильно {{n_right_answers}}</span>
    <span class="badge badge-danger">Неправильно {{n_wrong_answers}}</span>
    <span class="badge badge-secondary">Рекорд {{n_right_answers_best_result}}</span>

</div>

{% if image_file %}
    <img src="{{image_file}}" class="img-fluid mt-3" alt="Отличная работа, приятель!">
{% endif %}

{% endblock content %}